html,body{
	font-family: "Trebuchet MS", sans-serif;
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%;
	color: #2C3E50;
	background: #ffffff;
	overflow: auto;
}
.body{
	height: 100%;
	width: 100%;
	overflow: auto;
}
.header{
	display: block;
	background: #f8f8f8;
	overflow: auto;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 4px;
	color: #2C3E50;
	border-bottom: 1px solid #e8e8e8;
}
.header .handle{
	display: inline-block;
	float: left;
	width: 40%;
	line-height: 35px;
	font-variant: small-caps;
}
.header h1{
	font-size: 18px;
}
.content{
	height: 100%;
	background: #ffffff;
	margin-bottom: 30px;
}
.content .left-panel{
	display: block;
	float: left;
	height: 200%;
	width: 15%;
	background: #f8f8f8;
	font-size: 14px;
}
.content #intake{
	display: block;
	float: left;
	height: 500%;
	width: 15%;
	background: #f8f8f8;
	font-size: 14px;
}
.content .left-panel a{
	display: block;
	text-decoration: none;
	vertical-align: center;
	color: #2e7cbe;
	border-bottom: 1px solid #e8e8e8;
	width: 100%;
	overflow: auto;
	line-height: 40px;
}
.content .left-panel img{
	width: 13px;
	height: 13px;
}
.content .right-panel{
	display: block;
	float: right;
	height: 100%;
	width: 84%;
	padding-top: 20px;
}
.content .right-panel h1{
	font-weight: normal;
}
.content .right-panel a#home{
	display: inline-block;
	height: 200px;
	width: 200px;
	vertical-align: bottom;
	border: 1px solid #2C3E50;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;

	font-size: 14px;
	color: #2C3E50;
}
.content .right-panel img{
	display: block;
	height: 75px;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 10px;
}
.content a button#simple{
	background-color: #E9E9E9;
    border: 1px solid #2ECC71;
    border-radius: 7px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 7px;
}
.content form{
	display: inline;
}
.content form input#save{
	vertical-align: center;
  	margin-bottom: 20px;
  	color: #2C3E50;
}
.content form input#edit{
	color: #2ECC71;
}
.content form input#summary{
	color: #3498DB;
}
.content .right-panel table{
	background: white;
	width: 90%;
	border-collapse: collapse;
	font-size: 14px;
   	border: 1px solid #E9E9E9;
}
.content table tr{
	text-align: left;
}
.content table th{
	padding: 15px;
	line-height: 25px;
	text-transform: uppercase;
	color: #95A5A6;
}
.content table td{
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 20px;
}
table, th, td{
	border: 1px solid #E9E9E9;
}

select.box_size{
	width: 56%;
}
textarea.paragraph_size{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}