html,body{
	font-family: "Trebuchet MS", sans-serif;
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%;
	color: #2C3E50;
	background: #E9E9E9;
	overflow: auto;
}
.body{
	height: 100%;
	width: 100%;
	overflow: auto;
}
.header{
	display: block;
	background: #2ECC71;
	overflow: auto;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 4px;
	color: #ECF0F1;
}
.header .handle{
	display: inline-block;
	float: left;
	width: 40%;
	line-height: 35px;
	font-variant: small-caps;
}
.header h1{
	font-size: 18px;
}
.header .navi{
	display: inline-block;
	float: right;
	width: 40%;
	line-height: 35px;
	text-align: right;
}
.header .navi a{
	display: inline-block;
	margin-right: 7px;
	text-decoration: none;
	text-transform: lowercase;
	font-weight: normal;
	color: #2C3E50;
	font-size: 14px;
}
.content{
	height: 100%;
	background: #E9E9E9;
	padding-top: 10px;
	margin-bottom: 30px;
}
.content a#addrec{
	display: inline-block;
	text-decoration: none;
	vertical-align: center;
	color: #2C3E50;
	margin-bottom: 20px;
}
.content img{
	width: 15px;
	height: 15px;
}
.content a#addrec img#file{
	width: 14px;
	height: 14px;
}
.content a button#simple{
	background-color: #E9E9E9;
    border: 1px solid #2ECC71;
    border-radius: 7px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 7px;
}
.content form{
	display: inline;
}
.content form input{
  	background: none;
  	border: none;
  	font-size: 14px;
}
.content form input#save{
	vertical-align: center;
  	margin-bottom: 20px;
  	color: #2C3E50;
}
.content form input#edit{
	color: #2ECC71;
}
.content form input#summary{
	color: #3498DB;
}
.content table{
	background: white;
	width: 80%;
	border-collapse: collapse;
	font-size: 14px;
   	border: 1px solid #E9E9E9;
}
.content table tr{
	text-align: left;
}
.content table th{
	padding: 15px;
	line-height: 25px;
	text-transform: uppercase;
	color: #95A5A6;
}
.content table td{
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	line-height: 20px;
}
table, th, td{
	border: 1px solid #E9E9E9;
}